@model Auction.Entity.SP_GetMaxBidUserDetails_Result
@using Auction.Entity;


@{
    var AuctionInformation = new SP_GetMaxBidUserDetails_Result
    {
        AuctionInformationId = (int)Model.AuctionInformationId,
        BidBasePrice = (int)Model.BidBasePrice,
        ProductDescription = (string)Model.ProductDescription,
        BidEndDateTime = (DateTime)Model.BidEndDateTime,
        BidStartDateTime = (DateTime)Model.BidCreationDateTime,
        ProductId = (int)Model.ProductId,
        ProductName = (string)Model.ProductName,
        ProductImageUrl = (string)Model.ProductImageUrl
    };
}

@using (Html.BeginForm("Details", "Auction", FormMethod.Post))
{
    @Html.HiddenFor(i => Model.AuctionInformationId)
    @Html.HiddenFor(i => Model.BidBasePrice)
    @Html.HiddenFor(i => Model.ProductDescription)
    @Html.HiddenFor(i => Model.BidEndDateTime)
    @Html.HiddenFor(i => Model.BidCreationDateTime)
    @Html.HiddenFor(i => Model.ProductId)
    @Html.HiddenFor(i => Model.ProductName)
    @Html.HiddenFor(i => Model.ProductImageUrl)

    <div id="@Model.AuctionInformationId">
        @Html.Hidden("oldBidPrice", Model.MaxBidPrice)

        <table class="table" border="0">
            <tr>
                <td width="25%">
                    @Html.Image(@Model.ProductImageUrl, "", "125")
                    <br />
                    <b>From :</b> @Html.DisplayFor(modelItem => Model.BidStartDateTime)
                    <br />
                    <b>To :</b>   @Html.DisplayFor(modelItem => Model.BidEndDateTime)
                </td>
                <td>
                    <div style="font-size:xx-large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black;font-weight:700">

                        @Html.DisplayFor(modelItem => Model.ProductName)
                    </div>
                
                    @Html.ActionLink("View", "Details", "Auction", AuctionInformation , new { @class = "viewProduct", onclick = "return false;" })
                    |
                    @Html.ActionLink("Edit", "Edit", new { Id = Model.AuctionInformationId })
                    |
                    @Html.ActionLink("Deactivate", "Deactivate", new { Id = Model.AuctionInformationId })

                    <br />

                    <b>Description:</b>@Html.DisplayFor(modelItem => Model.ProductDescription)
                    <br />
                    <b>
                        Bid Base Price
                    </b> : INR @Html.DisplayFor(modelItem => Model.BidBasePrice)
                   @* <br />
    <b>
        Bid Running Price
    </b> : INR @Html.DisplayFor(modelItem => Model.MaxBidPrice)
    <br />
    <b>New Bid Price</b> : INR <input type="text" alt="decimal value" maxlength="10" title="newBidValue" name="newBidPrice" id="newBidPrice" tooltip="Enter decimal bid amount" />

    <input type="submit" value="Place Bid" class="button" onclick="return AuctionSales.ValidateNPlaceBid(@Model.AuctionInformationId)" />*@

                    <br />
                    <div id="ValidationMessage" class="text-danger">
                        <i></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
